<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <script src="{% static "/static/jquery-1.11.1.js" %}"></script>

<!-- Open Layers source -->
    <script src="http://openlayers.org/api/OpenLayers.js"></script>


<!-- Mapstraction source -->
    <script src="http://mapstraction.com/mxn/build/latest/mxn.js?(openlayers)" type="text/javascript"></script>

    <!-- link rel="stylesheet" href="style.css" / -->
    <title>{% block title %}My amazing site{% endblock %}</title>

    <style type="text/css">
    #map {
        height: 400px;
        width: 800px;
    }
    </style>
</head>

<body>
    <div id="map">
        <!-- Mapstraction object -->
    <script type="text/javascript">
        var map = new mxn.Mapstraction('map', 'openlayers');

        // Marker 1
        var latlon = new mxn.LatLonPoint(45.508840,-73.5878100);
        var marker = new mxn.Marker(latlon);
        marker.setIcon('/static/marker.ico', [32, 32], [16, 16]);

        // Marker 2
        var latlon2 = new mxn.LatLonPoint(45.518,-73.5818100);
        var marker2 = new mxn.Marker(latlon2);
        marker2.setIcon('/static/marker.ico', [32, 32], [16, 16]);

        // Add Markers
        map.addMarker(marker);
        map.addMarker(marker2);


        map.setCenterAndZoom(latlon, 13);

        // Set polyline
        var points = [latlon, latlon2];
        var poly = new mxn.Polyline(points);
        poly.setColor('#AE4222');
        poly.setWidth(2);
        poly.setOpacity(0.4);

        map.addPolyline(poly);

        var latlonss = [];
        var i = 0;

     {% for points in points_list.points %}
        latlonss[i] = new mxn.LatLonPoint({{ points.latitude }}, {{ points.longitude }});
        var markers = new mxn.Marker(latlonss[i]);

        markers.setIcon('/static/marker.ico', [32, 32], [16, 16]);
        // map.addMarker(markers);

        if(i != 0)
        {
            var lats = [latlonss[i], latlonss[i-1]];

            var polys = new mxn.Polyline(lats);
            polys.setColor('#AE4222');
            polys.setWidth(4);
            polys.setOpacity(0.4);

            map.addPolyline(polys);
        }

         i++;
    {% endfor %}

        map.setCenterAndZoom(latlonss[1], 14);
    </script>
    </div>

<!--
{% for points in points_list.points %}
    <p> {{ points.time }}: {{ points.latitude }}, {{ points.longitude }}, {{ points.elevation }}m</p>
{% endfor %}
-->

</body>
</html>
